@media (min-width: 400px) {
  .shrinkEffect:hover {
    animation: scaleOutIn 0.4s ease-in-out forwards;
  }
}

@keyframes scaleOutIn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.94);
  }
  100% {
    transform: scale(1);
  }
}
